mat-toolbar{
    position: relative;
    max-width: 100%;
    background: #673ab7;
    margin-bottom: 10px;
    color: white;
}

.div_Logo{
    position: absolute;
    left: 10px;
}

.div_Logo h1{
    font-size: 2vw;
}

@media screen and (max-width: 550px){
    .div_Logo h1{
        font-size: 5.6vw;
    }
}

@media screen and (min-width: 550px){
    .div_Logo h1{
        font-size: 4.2vw;
    }
}

@media screen and (min-width: 800px){
    .div_Logo h1{
        font-size: 3.2vw;
    }
}

@media screen and (min-width: 1000px){
    .div_Logo h1{
        font-size: 2.7vw;
    }
}

.div_Bottons{
    position: absolute;
    right: 10px;
}

/* BOTÕES PRINCIPAIS */
