<!-- <p>LOGIN works!</p> -->

<form> 
    <div class="example-container">
        <!-- Cabeçalho do bloco -->
        <div class="HeaderBloco">
            <h1> Login </h1>
        </div>

        <!-- Usuário -->
        <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username..." required [(ngModel)]="loginUserData.usuario" name="usuario">
        </mat-form-field>

        <!-- Senha -->
        <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password..." [type]="hide ? 'text' : 'password'" required [(ngModel)]="loginUserData.senha" name="senha">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
        </mat-form-field>

        <!-- Enviar -->
        <div class="Bt_Submit">
            <button (click)="onLogin()" mat-stroked-button type="submit" color="primary">Submit</button>
        </div>
    </div>
</form>
<!-- 
    <button mat-stroked-button>Basic</button>

    <a mat-stroked-button routerLink=".">Link</a>
-->